@model IEnumerable<HN.Pim.Client.Entities.MenuItem>

<nav class="hn-sn-wrapper">
    <ul id="sideNavParent">
            <li class="pdsa-sn-brand">
                <a href="/Home/Index">PIM</a>
            </li>
           @foreach (var item in Model)
           {
            <li>
                @if (item.Menus.Count() > 0)
                {
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#@item.MenuAction">
                        @item.MenuTitle.TrimStart().TrimEnd()
                    <span class="caret"></span>
                </a>
                <ul id="@item.MenuAction" class="collapse" data-parent="#sideNavParent">
                    @foreach (var subitem in item.Menus)
                    {
                        <li>
                            <a href="@subitem.MenuAction">@subitem.MenuTitle</a>
                        </li>
                    }
                </ul>
                }
                else
                {
                    <a href="@item.MenuAction">@item.MenuTitle</a>
                }
            </li>
           }
        </ul>
</nav>

@*<nav id="sideNavParent" class="hn-sn-wrapper">
        <ul id="sideNavParent">
            <li class="hn-sn-brand">
                <a href="Default.html"
                   class="visible-sm visible-md visible-lg">PIM</a>
            </li>
            <li>
                <a href="#"
                   data-toggle="collapse"
                   data-target="#ulWoman">
                    <span class="visible-sm visible-md visible-lg">
                        Photography&nbsp;<b class="caret"></b>
                    </span>
                    <i class="fa fa-female visible-xs"></i>
                </a>
                <div class="visible-sm visible-md visible-lg">
                    <ul id="ulWoman" class="collapse"
                        data-parent="#sideNavParent">
                        <li>
                            <a href="#">Scan Into Studio</a>
                        </li>
                        <li>
                            <a href="#">Scan Into Styling</a>
                        </li>
                        <li>
                            <a href="#">Scan Out of Studio</a>
                        </li>
                        <li>
                            <a href="#">Scan Search</a>
                        </li>
                        <li>
                            <a href="#">Search</a>
                        </li>
                        <li>
                            <a href="#">Styled With</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="visible-sm visible-md visible-lg">DC</span>
                    <i class="fa fa-arrow-circle-o-down visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="#"
                   data-toggle="collapse"
                   data-target="#ulMan">
                    <span class="visible-sm visible-md visible-lg">
                        DC&nbsp;<b class="caret"></b>
                    </span>
                    <i class="fa fa-male visible-xs"></i>
                </a>
                <div class="visible-sm visible-md visible-lg">
                    <ul id="ulMan" class="collapse"
                        data-parent="#sideNavParent">
                        <li>
                            <a href="#">ALL CLOTHING</a>
                        </li>
                        <li>
                            <a href="#">ALL SHOES</a>
                        </li>
                        <li>
                            <a href="#">ALL ACCESSORIES</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="visible-sm visible-md visible-lg">Merchandising</span>
                    <i class="fa fa-arrow-circle-o-down visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="Default.html">
                    <span class="visible-sm visible-md visible-lg">Marketing</span>
                    <i class="glyphicon glyphicon-apple visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="Default.html">
                    <span class="visible-sm visible-md visible-lg">LIVE</span>
                    <i class="glyphicon glyphicon-bishop visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="Default.html">
                    <span class="visible-sm visible-md visible-lg">PIM Styles</span>
                    <i class="glyphicon glyphicon-film visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="Default.html">
                    <span class="visible-sm visible-md visible-lg">Universal Sizing</span>
                    <i class="glyphicon glyphicon-magnet visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="#"
                   data-toggle="collapse"
                   data-target="#ulUtil">
                    <span class="visible-sm visible-md visible-lg">
                        Admin&nbsp;<b class="caret"></b>
                    </span>
                    <i class="fa fa-male visible-xs"></i>
                </a>
                <div class="visible-sm visible-md visible-lg">
                    <ul id="ulUtil" class="collapse"
                        data-parent="#sideNavParent">
                        <li>
                            <a href="#">Admin</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">Saved Searches</a>
                        </li>
                        <li>
                            <a href="#">Bulk Update</a>
                        </li>
                        <li>
                            <a href="#">View Queue</a>
                        </li>
                        <li>
                            <a href="#"
                               data-toggle="collapse"
                               data-target="#ulReports">
                                <span class="visible-sm visible-md visible-lg">
                                    Reports&nbsp;<b class="caret"></b>
                                </span>
                                <i class="fa fa-male visible-xs"></i>
                            </a>
                            <div class="visible-sm visible-md visible-lg">
                                <ul id="ulReports" class="collapse"
                                    data-parent="#sideNavParent">
                                    <li>
                                        <a href="#">Markdown reports</a>
                                    </li>
                                    <li>
                                        <a href="#">Colours to be created on Magento</a>
                                    </li>
                                    <li>
                                        <a href="#">Styles turnaround</a>
                                    </li>
                                    <li>
                                        <a href="#">Product count in Live bucket for each Category</a>
                                    </li>
                                    <li>
                                        <a href="#">Live products with/without images on Magento</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </nav>*@


@*<div class="navbar navbar-fixed-top">*@
@*<div class="navbar-inner">
    <div class="container">
        <ul class="nav nav-pills pull-right">*@
@*<li class="@if (ViewBag.Name == "Home")
    {<text>active</text>}"><a href="@Url.Action("Index", "Home")">Home</a></li>*@
@*<li class="dropdown @if (ViewBag.Name == "Login")
    {<text>active</text>}">
    @if (!Request.IsAuthenticated)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Not Logged In <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a></li>
        </ul>
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">*@
@*<li><a href="#">My Account</a></li>
    <li class="divider"></li>*@
@*<li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                <li><a href="@Url.Action("Logout", "Account")">Log Out</a></li>
            </ul>
        }
    </li>*@
@*@if (Request.IsAuthenticated)
    {*@
@*<li class="@if (ViewBag.Name == "CustomerActions")
        {<text>active</text>}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Actions <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="@Url.Action("ReserveProduct", "Customer")">Create Site</a></li>
            <li><a href="@Url.Action("Index", "ResourceMaster")">Manage Resources</a></li>
        </ul>
    </li>*@
@*}*@
@*</ul>
        </div>
    </div>*@
@*</div>*@
