@using HN.Pim.WebUI.Helpers
@using HN.Pim.WebUI.Models
@model StyleModel
@{
    ViewBag.Title = "Styles";
}

<style>
    .pagination {
        margin-top: -1em;
    }
    /* Turn off decoration on header */
    .panel .panel-heading .panel-title a {
        text-decoration: none;
    }

    /* Float the glyph to the right */
    .hn-panel-toggle {
        float: right;
    }

    .submit-progress-bg {
        background-color: lightgrey;
        opacity: 0.5;
    }

    .submit-progress i {
        margin-right: 0.5em;
    }

    .submit-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 1.7em;
        padding-left: 2em;
        z-index: 1;
        /* The following rules are the ones most likely to change */
        width: 25em;
        /* Set 'margin-left' to a negative numner that is 1/2 of 'width' */
        margin-left: -11.5em;
        background-color: black;
        color: white;
    }

</style>

@using (Html.BeginForm())
{
  <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.EventArgument)
    @Html.HiddenFor(m => m.Pager.PageIndex)
    @Html.HiddenFor(m => m.LastSortExpression)
    @Html.HiddenFor(m => m.SortExpression)
    @Html.HiddenFor(m => m.SortDirection)
    @Html.HiddenFor(m => m.SortDirectionNew)
    @Html.HiddenFor(m => m.QuantityOfPages, new { @Id = "hn-pages" })
    <!-- END HIDDEN FIELDS AREA -->

    <!-- BEGIN WAIT MESSAGES AREA -->
    <div class="submit-progress hide" data-hn-show-on-progress="true">
        <i class="fa fa-2x fa-refresh  fa-spin"></i>
        <label>Please wait while Searching Data...</label>
    </div>
    <!-- END WAIT MESSAGES AREA -->

    <div class="panel-group" id="search">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse"
                       data-parent="#search"
                       href="#filter">Search Panel</a>
                    <a data-toggle="collapse"
                       data-parent="#search"
                       href="#filter"
                       class="hn-panel-toggle glyphicon glyphicon-plus"></a>
                </h1>
            </div>
            <div id="filter" class="pane-collapse collapse">
                <div class="panel-body">
                    <h2>Search</h2>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StyleNameSearch, "Merchandise Brand")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Merchandise Brand",
                            "Merchandise Brand",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Season")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Season",
                            "Season",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Style Name")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Name",
                            "Enter a full or partial name to search for",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Style Number")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Number",
                            "Enter a full or partial number to search for",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Skus")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "SKUs",
                            "Enter a full or partial sku to search for",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Skus")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "SKUs",
                            "Enter a full or partial sku to search for",
                            true, true)
                        @Html.LabelFor(m => m.StyleNameSearch, "Style Colour")
                        @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Colour",
                            "Enter a full or partial style colour to search for",
                            true, true)
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnSearch"
                        class="btn btn-sm btn-primary"
                        data-hn-action="search"
                        onclick="return DisplayProgressMessage(this, 'Searching');">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;Search
                </button>
                <button id="btnReset"
                        class="btn btn-sm btn-primary"
                        data-pdsa-action="resetsearch">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    &nbsp;Reset
                </button>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse"
                       data-parent="#search"
                       href="#display">Data Panel</a>
                    <a data-toggle="collapse"
                       data-parent="#results"
                       href="#display"
                       class="hn-panel-toggle glyphicon glyphicon-minus"></a>
                </h1>
            </div>
            <div id="display" class="pane-collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-condensed table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MerretStyleID"
                                                   data-hn-direction="Ascending">
                                                    Style Id
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MerretDescription"
                                                   data-hn-direction="Ascending">
                                                    Description
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="ShortWebDescription"
                                                   data-hn-direction="Descending">
                                                    Web Description
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MinPrice"
                                                   data-hn-direction="Ascending">
                                                    Min Price
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MaxPrice"
                                                   data-hn-direction="Ascending">
                                                    Max Price
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Styles)
                                        {
                                            <tr>
                                                <td>
                                                    @item.MerretStyleID
                                                </td>
                                                <td>
                                                    @item.MerretDescription
                                                </td>
                                                <td>
                                                    @item.ShortWebDescription
                                                </td>
                                                <td>
                                                    @if (item.MinPrice.HasValue)
                                                    {@item.MinPrice.Value.ToString("c")
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.MaxPrice.HasValue)
                                                    {@item.MaxPrice.Value.ToString("c")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.IsPagerVisible)
                {
                    <ul id="pagination-demo" class="pagination pagination-sm">
                        @if (Model.Pages != null)
                        {
                            foreach (PagerItem item in Model.Pages)
                             {
                                 <li class="@item.CssClass">
                                     <a href="#"
                                        data-hn-action="page"
                                        data-hn-val="@item.Argument"
                                        title="@item.Tooltip">
                                         @Html.Raw(item.Text)
                                     </a>
                                 </li>
                             }
                        }
                    </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ** BEGIN SEARCH AREA ** -->
    //if (Model.IsSearchAreaVisible)
    //{
    @*<div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search for Styles</h1>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.StyleNameSearch, "Merchandise Brand")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                                HtmlExtensions.Html5InputTypes.text,
                                "Merchandise Brand",
                                "Merchandise Brand",
                                true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Season")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                                HtmlExtensions.Html5InputTypes.text,
                                "Season",
                                "Season",
                                true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Style Name")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Name",
                            "Enter a full or partial name to search for",
                            true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Style Number")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Number",
                            "Enter a full or partial number to search for",
                            true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Skus")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "SKUs",
                            "Enter a full or partial sku to search for",
                            true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Skus")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "SKUs",
                            "Enter a full or partial sku to search for",
                            true, true)
                    @Html.LabelFor(m => m.StyleNameSearch, "Style Colour")
                    @Html.TextBox5For(m => m.StyleNameSearch,
                            HtmlExtensions.Html5InputTypes.text,
                            "Style Colour",
                            "Enter a full or partial style colour to search for",
                            true, true)
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnSearch"
                        class="btn btn-sm btn-primary"
                        data-pdsa-action="search">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;Search
                </button>
                <button id="btnReset"
                        class="btn btn-sm btn-primary"
                        data-pdsa-action="resetsearch">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    &nbsp;Reset
                </button>
            </div>
        </div>*@
    @*}*@

    <div class="panel-group" id="results">
        @*<div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse"
                       data-parent="#search"
                       href="#display">Data Panel</a>
                    <a data-toggle="collapse"
                       data-parent="#results"
                       href="#display"
                       class="hn-panel-toggle glyphicon glyphicon-minus"></a>
                </h1>
            </div>
            <div id="display" class="pane-collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-condensed table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MerretStyleID"
                                                   data-hn-direction="Ascending">
                                                    Style Id
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MerretDescription"
                                                   data-hn-direction="Ascending">
                                                    Description
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="ShortWebDescription"
                                                   data-hn-direction="Descending">
                                                    Web Description
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MinPrice"
                                                   data-hn-direction="Ascending">
                                                    Min Price
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   data-hn-action="sort"
                                                   data-hn-val="MaxPrice"
                                                   data-hn-direction="Ascending">
                                                    Max Price
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Styles)
                                        {
                                            <tr>
                                                <td>
                                                    @item.MerretStyleID
                                                </td>
                                                <td>
                                                    @item.MerretDescription
                                                </td>
                                                <td>
                                                    @item.ShortWebDescription
                                                </td>
                                                <td>
                                                    @if (item.MinPrice.HasValue)
                                                    {@item.MinPrice.Value.ToString("c")
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.MaxPrice.HasValue)
                                                    {@item.MaxPrice.Value.ToString("c")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.IsPagerVisible)
                {
                                <ul id="pagination-demo" class="pagination pagination-sm">
                                    @foreach (PagerItem item in Model.Pages)
                    {
                                        <li class="@item.CssClass">
                                            <a href="#"
                                               data-hn-action="page"
                                               data-hn-val="@item.Argument"
                                               title="@item.Tooltip">
                                                @Html.Raw(item.Text)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    </div>


    @*<div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a href="#"
                                   data-hn-action="sort"
                                   data-hn-val="MerretStyleID"
                                   data-hn-direction="Ascending">
                                    Style Id
                                </a>
                            </th>
                            <th>
                                <a href="#"
                                   data-hn-action="sort"
                                   data-hn-val="MerretDescription"
                                   data-hn-direction="Ascending">
                                    Description
                                </a>
                            </th>
                            <th>
                                <a href="#"
                                   data-hn-action="sort"
                                   data-hn-val="ShortWebDescription"
                                   data-hn-direction="Descending">
                                    Web Description
                                </a>
                            </th>
                            <th>
                                <a href="#"
                                   data-hn-action="sort"
                                   data-hn-val="MinPrice"
                                   data-hn-direction="Ascending">
                                    Min Price
                                </a>
                            </th>
                            <th>
                                <a href="#"
                                   data-hn-action="sort"
                                   data-hn-val="MaxPrice"
                                   data-hn-direction="Ascending">
                                    Max Price
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Styles)
                        {
                        <tr>
                            <td>
                                @item.MerretStyleID
                            </td>
                            <td>
                                @item.MerretDescription
                            </td>
                            <td>
                                @item.ShortWebDescription
                            </td>
                            <td>
                                @if (item.MinPrice.HasValue)
                                    {@item.MinPrice.Value.ToString("c")
                                    }
                            </td>
                            <td>
                                @if (item.MaxPrice.HasValue)
                                    {@item.MaxPrice.Value.ToString("c")
                                    }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.IsPagerVisible)
                {
            <ul id="pagination-demo" class="pagination pagination-sm">
                @foreach (PagerItem item in Model.Pages)
                    {
                    <li class="@item.CssClass">
                        <a href="#"
                           data-hn-action="page"
                           data-hn-val="@item.Argument"
                           title="@item.Tooltip">
                            @Html.Raw(item.Text)
                        </a>
                    </li>
                    }
            </ul>
            }
        </div>
    </div>*@
}

@section scripts {

    <script>
        $("[data-hn-action]").on("click", function(e) {
            e.preventDefault();

            // Fill in hidden fields with action and argument to post back to model
            $("#EventCommand").val($(this).attr("data-hn-action"));
            $("#EventArgument").val($(this).attr("data-hn-val"));

            // Use the switch statement to get and set any special parameters
            switch ($("#EventCommand").val()) {
            case "sort":
                // Store the last sort expression
                $("#LastSortExpression").val($("#SortExpression").val());
                // Get the new sort expression
                $("#SortExpression").val($(this).data("hn-val"));
                // Set the new sort direction
                $("#SortDirectionNew").val($(this).data("hn-direction"));
                break;
            }

            DisplayProgressMessage(null, "");
            // Submit form with hidden values filled in
            $("form").submit();
        });

        function DisplayProgressMessage(ctrl, msg) {

            $(ctrl).prop("disabled", true).text(msg);

            setTimeout(function() {

                if ($("[data-hn-show-on-progress='true']").length > 0) {
                    $("[data-hn-show-on-progress='true']").removeClass("hidden").removeClass("hide");
                    //$(".submit-progress").removeClass("hidden");
                    $("#UpdatedBody").addClass("submit-progress-bg");
                }
            }, 1);
        }

    </script>
}